@import url(https://fonts.bunny.net/css?family=cabin:400);

:root {
    --background: #222;
    --background-mid: #1d1d1d;
    --background-highlight: #111;
    --color: #ddd;
    --red1: #3c0000;
    --red2: #ce4040;
    --red3: #930000;
    --red4: #fbc2b7;
    --font: "Gill Sans", "Gill Sans MT", "Cabin", sans-serif;
}

body {
    margin: 0;
    font-family: var(--font);
    background: var(--background);
    color: var(--color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a{
    color: var(--red2);
    text-decoration: none;
}

article{
    margin: 0 auto;
    max-width: 60ch;
}
