<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>An Error Occurred</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/_session_server/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/_session_server/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/_session_server/static/favicon-16x16.png">
    <link rel="manifest" href="/_session_server/static/site.webmanifest">
    <link rel="stylesheet" href="/_session_server/static/style.css">
</head>
<body>
<main>
    <article>
        <h1>{{.Short}}</h1>
        <p>{{.Long}}</p>
        <p><a href="/">Return to the homepage</a></p>
    </article>
</main>
</body>
</html>
